<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeGuardian: Samouczek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="tutorial-container">
        <h1>CodeGuardian: Rise of the Tester</h1>
        <p id="step-text">Na stanowisku Tester-Programista twoim głównym zadaniem będzie znajdowanie i zgłaszanie błędów w oprogramowaniu.</p>
        <button id="next-step-btn">Dalej</button>
    </div>

    <script src="{{ url_for('static', filename='js/tutorial.js') }}"></script>
</body>
</html>
